@font-face {
    font-family: 'Alegreya', serif ;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.google.com/share?selection.family=Alegreya)} 

.demo{
    color:rgb(47, 47, 47)}
    
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2 80px 1 100px;}

header.demo{
    background-color: rgb(227, 200, 241);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size: 50px;
    font-family: 'Alegreya', serif ;
    font-style: normal;
    padding-top: 5px;}

.demo1{
    background-color: rgb(51, 140, 143);
    grid-column-start: 5;
    grid-column-end: 6;}

.demo2{
    background-color: rgb(249, 249, 230);
    grid-column-start: 1;
    grid-column-end:3;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    font-size: 21px;
    font-family: 'Alegreya', serif ;
    font-style: normal;}

.demo3{
    background-color: rgb(51, 140, 143);
    grid-column-start: 1;
    grid-column-end: 2;}

img{
    object-fit: fill;
    grid-row: 2/3;
    grid-column: 3/6;
    grid-column-start: 3;
    grid-column-end: 6;}

footer{
    background-color: rgb(186, 209, 133);
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: center;
    font-size: 50px;
    font-family: 'Alegreya', serif ;
    font-style: normal;
    padding-top: 5px;}