@font-face {
    font-family: 'Alegreya', serif ;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.google.com/share?selection.family=Alegreya)} 
    
   
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7fr 1fr 1fr 1fr;
        gap: 7px 7px;}
      
    header.demo {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;}

    h3{
        font-family: 'Alegreya', serif ;
        font-size: 35px;
        font-style: normal;}
      
      
      .img1{
         grid-row:2/3;
         grid-column-start: 1;
         grid-column-end: 2;
         width: 200px;}
      
      .img2{
         grid-row:3/4;
         grid-column-start: 1;
         grid-column-end: 2;
         width: 200px;}
      
      .img3{
          grid-row:4/5;
          grid-column-start: 1;
          grid-column-end: 2;
          width: 200px;}
      
      .img4{
          grid-row:2/3;
          grid-column-start: 2;
          grid-column-end: 3;
          width: 200px;}
      
      .img5{
          grid-row:3/4;
          grid-column-start: 2;
          grid-column-end: 3;
          width: 200px;}
      
      .img6{
          grid-row:4/5;
          grid-column-start: 2;
          grid-column-end: 3;
          width: 200px;}
      
      .img7{
          grid-row:2/3;
          grid-column-start: 3;
          grid-column-end: 4;
          width: 200px;}
      
      .img8{
          grid-row:3/4;
          grid-column-start: 3;
          grid-column-end: 4;
          width: 200px;}
      
      .img9{
          grid-row:4/5;
          grid-column-start: 3;
          grid-column-end: 4;
          width: 200px;}