@font-face {
    font-family: 'Alegreya', serif ;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.google.com/share?selection.family=Alegreya)} 
    
    html{
        background-color: rgb(227, 200, 241)}
    
    .box{
        font-family: 'Segoe Script';
        font-size: 20px;
        text-align: center;
        word-spacing: 25px;}
       
        a:link{
            text-decoration: none;
            color: lightgray;}
        
        a:visited{
            text-decoration: none;
            color: rgb(51, 140, 143);}
    
        a:hover{
            text-decoration: underline;
            color:rgb(188, 87, 28)}

    body{
        display:block;
        margin: 0px;}
    
        .grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.5fr 1fr 1fr;
            gap: 7px 7px;}
          
        header.demo {
            text-align:center;
            grid-column-start: 1;
            grid-column-end: 3;
            font-family: 'Segoe Script';
            font-size: 50px;}
    
        h1{
            font-family: 'Alegreya', serif ;
            font-size: 20px;
            font-style: normal;}
        
        p{
            font-family: 'Alegreya', serif ;
            font-size: 15px;
            font-style: normal;}     
          
          .img1{
             grid-row-start:1;
             grid-row-end: 2;
             grid-column-start: 1;
             grid-column-end: 2;}
             
          .img2{
             grid-row-start:1;
             grid-row-end: 2;
             grid-column-start: 1;
             grid-column-end: 2;}
          
          .img3{
              grid-row-start: 1;
              grid-row-end: 2;
              grid-column-start: 1;
              grid-column-end: 2;}
          
          .img4{
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 2;
              grid-column-end: 3;}
          
          .img5{
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 2;
              grid-column-end: 3;}
          
          .img6{
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 2;
              grid-column-end: 3;}
          
          .img7{
            grid-row-start: 3;
            grid-row-end: 4;
              grid-column-start: 3;
              grid-column-end: 4;}
          
          .img8{
            grid-row-start: 3;
            grid-row-end: 4;
              grid-column-start: 3;
              grid-column-end: 4;}
          
          .img9{
            grid-row-start: 3;
            grid-row-end: 4;
              grid-column-start: 3;
              grid-column-end: 4;}