@font-face {
    font-family: 'Alegreya', serif ;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.google.com/share?selection.family=Alegreya)} 

.demo{
    color:rgb(47, 47, 47)}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 85px 1 200px;}

header.demo{
    background-color: rgb(249, 249, 230);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size:50px;
    font-family: 'Segoe Script';
    padding-top: 10px;}

.demo1{
    background-color: rgb(227, 200, 241);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row:initial;}

.demo2{
    background-color:rgb(186, 209, 133);
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: 'Alegreya', serif ;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    padding-top: 10px;}


.footer{
    font-family: 'Alegreya', serif;
    font-size: 12px;}

a:link{
    text-decoration: none;
    color:rgb(249, 249, 230);}

a:visited{
    text-decoration: none;
    color:rosybrown;}

a:hover{
    text-decoration: underline;
    color: rgb(112, 112, 112);}